.sellerBuyBox {
  .title {
    font-size: var(--fs-text-size-3);
  }

  .content {
    .offerList {
      display: flex;
      flex-direction: column;
      padding: 0.25rem;

      .seller {
        display: flex;
        padding: 0.25rem;

        .forPrice {
          display: flex;
          padding: 0.25rem;

          .listPoints {
            padding-right: 0.25rem;
            font-weight: light;
            text-decoration: line-through;
          }

          .finalPoints {
            font-weight: bold;
          }
        }

        &:not(:last-child) {
          margin-right: 1rem;
        }
      }
    }
  }
}
