@use "@faststore/ui/src/styles/base/utilities" as u;

// ----------------------------------------------------------
// GLOBAL TOKENS
// Custom Theme
// ----------------------------------------------------------
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@layer theme {
  .theme {
    @import "@faststore/ui/src/components/atoms/Loader/styles.scss";

    // --------------------------------------------------------
    // Colors (Branding Core)
    // --------------------------------------------------------
    --fs-color-main-0: #f1f2f3;
    --fs-color-main-2: #cc0000;
    --fs-color-main-3: #b30000;
    --fs-color-main-4: #8b0000;

    // --------------------------------------------------------
    // Typography (Branding Core)
    // --------------------------------------------------------

    // --------------------------------------------------------
    // Spacing (UI Essentials)
    // --------------------------------------------------------

    // --------------------------------------------------------
    // Grid & Layout (UI Essentials)
    // --------------------------------------------------------
    --fs-grid-breakpoint-notebook: 1440px;
    --fs-grid-breakpoint-desktop: 1440px;

    // --------------------------------------------------------
    // Interactive Controls (UI Essentials)
    // --------------------------------------------------------

    // --------------------------------------------------------
    // Refinements
    // --------------------------------------------------------

    // --------------------------------------------------------
    // FS UI Components
    // --------------------------------------------------------
    // Add here the customizations for FastStore UI components.
    [data-fs-content] {
      // width: 1200px;
      margin-right: auto;
      margin-left: auto;
    }

    .section .text__title-section {
      width: 1170px;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
      font-family: Poppins, sans-serif;
      font-style: normal;
      font-weight: 700;
    }

    [data-fs-navbar] {
      --fs-navbar-logo-width: 8rem;
      --fs-logo-width: 8rem;

      --fs-navbar-bkg-color: #f0f0f0;

      @include u.media(">=tablet") {
        --fs-logo-width: 15rem;
      }
    }

    [data-fs-hero] {
      max-width: var(--fs-grid-max-width);
      margin: 0 auto;
    }

    [data-fs-carousel],
    [data-fs-carousel-controls] {
      // width: 100%;
      opacity: 1;
    }

    [data-fs-carousel] [data-fs-carousel-control] {
      width: 64px;

      [data-fs-button-wrapper] {
        align-items: center;
        justify-content: center;
        height: 64px;
        font-size: 15px;
        cursor: pointer;
        background: #fff;
        border-radius: 50%;
        outline: transparent;
        box-shadow: 0 4px 8px 0 rgb(34 34 34 / 12%);
      }
    }

    [data-fs-carousel-bullets] {
      --fs-carousel-bullet-bkg-color-selected: #ec0000;
      --fs-carousel-bullets-padding-top: 0;

      [data-fs-carousel-bullet] {
        [data-fs-button-wrapper] {
          --fs-carousel-bullet-width-desktop: 19px;
          --fs-carousel-bullet-height-desktop: 7px;
          --fs-carousel-bullet-border-radius: 0;
        }
      }
    }

    [data-fs-carousel-control] {
      position: absolute;
      bottom: 50%;

      &[data-fs-carousel-control="left"] {
        left: 1rem;
      }

      &[data-fs-carousel-control="right"] {
        right: 1rem;
      }
    }

    [data-fs-carousel-track] {
      --fs-carousel-padding-desktop: 0 15px 15px;
    }

    [data-fs-product-listing] [data-fs-product-card] {
      width: 250px;
      margin: 0;
    }

    [data-fs-product-card] {
      display: flex;

      // justify-content: space-between;
      --fs-product-card-gap: 2rem;

      width: 250px;
      min-height: 379px;

      // margin-right: 250px;
      border: none;
      border: none;
      --fs-product-card-shadow-hover: 0 8px 32px 0 rgb(34 34 34 / 12%);

      --fs-product-card-padding: 0;

      // box-shadow: none;

      &:hover {
        --fs-product-card-shadow-hover: 0 8px 32px 0 rgb(34 34 34 / 12%);
      }

      [data-fs-product-card-image] {
        width: 100%;
        height: 175px;
        text-align: center;

        [data-fs-image] {
          width: 100%;
          height: 100%;
          object-fit: contain;
          vertical-align: middle;
        }
      }
      --fs-product-card-title-color: black;
      --fs-product-card-title-size: 1.25rem;
      --fs-product-card-title-weight: 100;

      [data-fs-product-card-title] {
        padding-left: .9rem;
        margin-top: 10px;
        font-family: Poppins, sans-serif;
        font-style: normal;
        line-height: 1.4;

        [data-fs-link] {
          font-size: 1.25rem;
          font-weight: 200;
        }
      }

      [data-fs-buy-button] {
        display: none;
        min-width: 100%;
        white-space: normal;

        [data-fs-icon] {
          color: var(--fs-button-primary-text-color);
        }
      }
    }

    [data-fs-product-card-content] {
      display: grid;
      grid-template-rows: repeat(auto-fill, minmax(11rem, 1fr));
      align-items: stretch;
    }

    [data-fs-product-card-heading] {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    [data-fs-product-price] {
      flex-flow: row wrap;
      padding: .9rem;

      @media (max-width: 420px) {
        flex-direction: column;
        align-items: start;
      }

      [data-fs-price-variant="listing"] {
        margin-right: 0.25rem;
        --fs-price-listing-text-size: 1rem;
      }

      [data-fs-price-variant="spot"] {
        margin-right: 0.25rem;
        --fs-product-card-price-size: 28px;
      }

      [data-fs-price] {
        font-family: Poppins, sans-serif;
        font-style: normal;
        font-weight: 700;
      }

      [data-fs-price-variant="listing"]::before {
        font-size: .8rem;
        font-weight: normal;
        text-decoration: none;
        white-space: pre-wrap;
        content: "A partir de \a";
      }
    }

    .section-alert {
      [data-fs-alert] {
        [data-fs-alert-content] {
          width: 100%;
          text-align: center;
        }

        [data-fs-icon] {
          overflow: inherit;
        }
      }
    }

    .section-incentives {
      margin-bottom: 0;
    }

    [data-fs-sku-selector-list] {
      flex-direction: row-reverse;
      justify-content: start;
    }

    [data-fs-select] select:focus-visible {
      --fs-color-focus-ring: #cc0000;

      box-shadow:
        0 0 0 1px #ffffff,
        0 0 0 var(--fs-border-width-thickest) var(--fs-color-focus-ring);
    }

    [data-fs-navbar-header] {
      background-color: #f0f0f0ed;
    }

    .c-carousel__experiencias ul {
      gap: 130px;
    }

    // Footer carousel

    .c-carousel__image-item {
      position: relative;
      width: 48%;

      // max-width: 265px!important;
      height: 100%;
    }

    // .c-carousel__image-img{
    //   width: 265px !important;
    //   height: 306px !important;
    // }
    .c-carousel__image-item span {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 32px;
      font-size: 24px;
      line-height: 32px;
      color: #fff;
    }

    // Header Section

    // [data-fs-input] {
    //   width: 100%;
    //   padding: 11px 8px 15px 30px;
    //   font-size: 14px;
    //   text-overflow: ellipsis;
    //   white-space: nowrap;
    //   background: transparent;
    //   border: 0;
    // }

    [data-fs-navbar-links-list] {
      --fs-navbar-links-list-padding-left-notebook: 0;
      --fs-navbar-links-list-margin-left-notebook: 0;
    }

    [data-fs-navbar-links-list-item] {
      [data-fs-link] {
        --fs-link-display-text-color: #000;

        // --fs-link-display-text-line-height: ;
        --fs-navbar-links-link-padding-notebook: 30px 15px 20px 15px;
        --fs-link-text-decoration-hover: none;

        padding: 30px 15px 20px;
        font-family: "Open Sans", sans-serif;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    .section-navbar {
      position: inherit;
    }

    [data-fs-button-icon] {
      [data-fs-button-wrapper] {

        --fs-button-text-size: 12px;

        padding-left: 15px;
        margin-right: 30px;
        font-family: "Open Sans", sans-serif;
        line-height: 20px;
        color: #222;
        text-transform: uppercase;
        cursor: pointer;
        border-left: 1.5px solid #f0f0f0;

        // [data-fs-button-icon]{
        //   content: url();
        // }
      }
    }
    --fs-color-tertiary-text: #222;

    .c-category__card-top li {
      --fs-carousel-item-margin-right: 0;
    }

    // Carousel Items
    #mais-vendidos {
      --fs-carousel-item-margin-right: 240px;

      [data-fs-carousel-controls] {
        opacity: 0;
      }

      [data-fs-product-card] {
        box-shadow: 0 8px 32px 0 rgb(34 34 34 / 12%);
      }

      [data-fs-carousel-bullets] {
        display: none;
      }

      // [data-fs-price-variant="spot"]::after {
      //   content: url('data:image/svg+xml,<svg fill="%23000000" height="800px" width="800px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 330 330" xml:space="preserve"><path id="XMLID_222_" d="M250.606,154.389l-150-149.996c-5.857-5.858-15.355-5.858-21.213,0.001 c-5.857,5.858-5.857,15.355,0.001,21.213l139.393,139.39L79.393,304.394c-5.857,5.858-5.857,15.355,0.001,21.213 C82.322,328.536,86.161,330,90,330s7.678-1.464,10.607-4.394l149.999-150.004c2.814-2.813,4.394-6.628,4.394-10.606 C255,161.018,253.42,157.202,250.606,154.389z"/></svg>');
      //   color: #ec0000;
      // }
    }

    #ultimos-produtos-visualizados {
      // --fs-carousel-item-margin-right: 250px;

      [data-fs-carousel-bullets] {
        display: none;
      }
    }

    #descontos-exclusivos {
      // --fs-carousel-item-margin-right: 250px;

      [data-fs-carousel-bullets] {
        display: none;
      }
    }

    // Footer
    [data-fs-footer] {
      --fs-footer-bkg-color: #f6f6f6;

      grid-template-columns: 1fr 60px 1fr;
    }

    .section-footer::after {
      display: flex;
      justify-content: center;
      justify-content: center;
      width: 100%;
      padding: 38px 0;
      content: url("https://www.esfera.com.vc/file/v5778071829984531891/general/santander.png");
      background: #fff;
    }

    [data-fs-footer-links-columns] {
      display: grid;
      grid-template-rows: repeat(2, auto);
      grid-template-columns: repeat(auto-fill, 24%);
      grid-auto-columns: minmax(170px, 1fr);
      grid-auto-flow: column;
      grid-gap: 4rem;
      grid-row-gap: 3.5em;
      width: 69%;
      margin-bottom: 30px;
      margin-left: 161px;

      div {
        display: grid;
        grid-template-rows: repeat(auto-fill, 20px);
        grid-auto-flow: row;
        grid-row-gap: 24px;
      }
    }

    [data-fs-footer-links-title] {
      font-family: Poppins, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
    }

    [data-fs-link] {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      text-decoration: none;
      --fs-link-small-text-size: 1rem;
    }

    // [data-fs-footer] [data-fs-footer-social] [data-fs-list] [data-fs-link]{
    //   visibility: hidden;
    // }

    [title^="Facebook"] {
      visibility: hidden;
    }

    [title^="Facebook"]::before {
      margin-right: -20px;
      visibility: visible;
      content: url("https://www.esfera.com.vc/file/v1134391764538783075/general/social_facebook-desktop.png");
    }

    [title^="Instagram"] {
      visibility: hidden;
    }

    [title^="Instagram"]::before {
      margin-right: -20px;
      visibility: visible;
      content: url("https://www.esfera.com.vc/file/v9012881407874966431/general/social_instagram-desktop.png");
    }

    [title^="Pinterest"] {
      visibility: hidden;
    }

    [title^="Pinterest"]::before {
      margin-right: -20px;
      visibility: visible;
      content: url("https://www.esfera.com.vc/file/v3495994518620490548/general/social_linkedin-destkop.png");
    }

    [title^="Twitter"] {
      visibility: hidden;
    }

    [title^="Twitter"]::before {
      margin-right: -20px;
      visibility: visible;
      content: url("https://www.esfera.com.vc/file/v5886574772927395632/general/icone-blog-desktop.png.png");
    }

    .c-points__card {
      [data-fs-carousel-track] {
        justify-content: space-around;
      }

      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    }

    .c-points__card-item {
      text-decoration: none;
    }

    .c-points__card-section {
      position: relative;
      padding: 14px 20px 20px;
      text-align: center;
      text-decoration: none;
      background: #fbfbfb;
      border: 2px solid #f0f0f0;
      border-radius: 8px;
    }

    .c-points__card-section:hover {
      border: #ec0000 2px solid;
    }

    .c-points__card-section::after {
      position: absolute;
      bottom: -2px;
      left: 50%;
      width: calc(40%);
      height: 3px;
      content: "";
      background: #c00;
      transform: translateX(-50%);
      transform: translateX(-50%);
    }

    .c-points__card-section:hover::after {
      width: 0;
      height: 0;
      content: "";
    }

    .c-card__item-title {
      font-size: 1rem;
      line-height: 18px;
      color: #222;
    }

    .c-card__item-subtitle {
      margin-top: 8px;
      font-family: Poppins, sans-serif;
      font-size: 28px;
      font-style: bold;
      font-weight: 700;
      line-height: 32px;
      color: #222;
    }

    .c-card__item-subtitle::after {
      font-size: 20px;
      font-weight: 400;
      content: " pts";
    }

    .c-card__item-text {
      margin-top: 8px;
      font-family: "Open Sans", sans-serif;
      font-size: .9rem;
      font-weight: 600;
      line-height: 18px;
      color: #c00;
    }

    // Side Cart
    [data-fs-cart-sidebar-title] {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 700;
      color: #000;
      text-transform: uppercase;
    }

    [data-fs-cart-sidebar] [data-fs-alert] {
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      height: 50vh;
      padding: 50px;
    }

    [data-fs-cart-sidebar] [data-fs-alert] [data-fs-icon] {
      width: 40px;
      height: 40px;
      font-size: 50px;
    }

    [data-fs-alert] [data-fs-alert-content] {
      margin-top: 50px;
      font-size: 14px;
      font-weight: 300;
      color: #222;
      text-overflow: unset;
      white-space: wrap;
    }

    [data-fs-alert], [data-fs-empty-state] {
      background: white;
    }

    // PDP
    [data-fs-product-title-header] {
      margin-top: 20px;
      font-family: Poppins, sans-serif;
      font-size: 24px;
      font-weight: 200;
      line-height: 1.33;
    }

    [data-fs-buy-button] {
      --fs-buy-button-bkg-color: #ec0000;

      font-size: 16px;
      --fs-button-padding: 20px;

      // width: 360px;

      [data-fs-button-wrapper] {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: white;
        border-radius: 4px;

        [data-fs-button-icon] {
          display: none;
        }
      }
    }

    [data-fs-product-details] [data-fs-product-details-section] {
      --fs-product-details-section-border-width: 0;

      width: 360px;
    }

    [data-fs-product-details-shipping] {
      position: relative;
    }

    [data-fs-product-details-shipping]::before {
      position: absolute;
      top: 50%;
      display: inline-block;
      align-items: center;
      width: 2rem;
      height: 2rem;
      vertical-align: middle;
      content: url('data:image/svg+xml,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.52832 16.826C8.53464 17.7132 8.01843 18.5166 7.22106 18.8607C6.42369 19.2047 5.50274 19.0213 4.88882 18.3962C4.27491 17.7712 4.08935 16.828 4.41891 16.0077C4.74847 15.1873 5.52803 14.652 6.39307 14.652C6.95731 14.6499 7.49925 14.8777 7.89969 15.2854C8.30013 15.6931 8.52625 16.2473 8.52832 16.826V16.826Z" stroke="%23000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M18.7015 16.826C18.7078 17.7132 18.1916 18.5166 17.3942 18.8607C16.5969 19.2047 15.6759 19.0213 15.062 18.3962C14.4481 17.7712 14.2625 16.828 14.5921 16.0077C14.9216 15.1873 15.7012 14.652 16.5662 14.652C17.1305 14.6499 17.6724 14.8777 18.0728 15.2854C18.4733 15.6931 18.6994 16.2473 18.7015 16.826Z" stroke="%23000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M14.1804 17.576C14.5946 17.576 14.9304 17.2403 14.9304 16.826C14.9304 16.4118 14.5946 16.076 14.1804 16.076V17.576ZM8.5254 16.076C8.11119 16.076 7.7754 16.4118 7.7754 16.826C7.7754 17.2403 8.11119 17.576 8.5254 17.576V16.076ZM13.4304 16.826C13.4304 17.2403 13.7662 17.576 14.1804 17.576C14.5946 17.576 14.9304 17.2403 14.9304 16.826H13.4304ZM14.9304 11.559C14.9304 11.1448 14.5946 10.809 14.1804 10.809C13.7662 10.809 13.4304 11.1448 13.4304 11.559H14.9304ZM14.1804 16.076C13.7662 16.076 13.4304 16.4118 13.4304 16.826C13.4304 17.2403 13.7662 17.576 14.1804 17.576V16.076ZM14.43 17.576C14.8442 17.576 15.18 17.2403 15.18 16.826C15.18 16.4118 14.8442 16.076 14.43 16.076V17.576ZM18.6972 16.0761C18.283 16.0779 17.9487 16.4151 17.9505 16.8293C17.9523 17.2435 18.2896 17.5779 18.7038 17.576L18.6972 16.0761ZM20.9625 14.485L21.7125 14.4816C21.7123 14.4384 21.7084 14.3954 21.7008 14.3529L20.9625 14.485ZM21.1772 11.4269C21.1042 11.0192 20.7146 10.7478 20.3068 10.8208C19.8991 10.8937 19.6277 11.2834 19.7007 11.6912L21.1772 11.4269ZM14.1794 6.12705C13.7652 6.12705 13.4294 6.46283 13.4294 6.87705C13.4294 7.29126 13.7652 7.62705 14.1794 7.62705V6.12705ZM17.7587 6.87705V7.62705C17.7637 7.62705 17.7688 7.627 17.7739 7.62689L17.7587 6.87705ZM19.3783 7.55055L19.9178 7.02951L19.9178 7.02951L19.3783 7.55055ZM20.0197 9.21805L19.27 9.19669C19.2685 9.24804 19.2723 9.2994 19.2814 9.34996L20.0197 9.21805ZM19.6996 11.691C19.7725 12.0987 20.1621 12.3702 20.5699 12.2974C20.9776 12.2245 21.2491 11.8349 21.1763 11.4271L19.6996 11.691ZM14.9284 6.87705C14.9284 6.46283 14.5927 6.12705 14.1784 6.12705C13.7642 6.12705 13.4284 6.46283 13.4284 6.87705H14.9284ZM13.4284 11.559C13.4284 11.9733 13.7642 12.309 14.1784 12.309C14.5927 12.309 14.9284 11.9733 14.9284 11.559H13.4284ZM13.4284 6.87705C13.4284 7.29126 13.7642 7.62705 14.1784 7.62705C14.5927 7.62705 14.9284 7.29126 14.9284 6.87705H13.4284ZM14.1784 6.07705L14.9285 6.07705L14.9284 6.07167L14.1784 6.07705ZM13.1137 5.00005L13.1137 5.75006L13.1187 5.75003L13.1137 5.00005ZM3.50512 5.00005L3.498 5.75005H3.50512V5.00005ZM2.75423 5.31075L2.22207 4.78225L2.22207 4.78225L2.75423 5.31075ZM2.4375 6.07505L1.6875 6.06834V6.07505H2.4375ZM2.4375 15.75L1.68747 15.75L1.68753 15.7568L2.4375 15.75ZM2.75423 16.5143L3.28638 15.9858L3.28638 15.9858L2.75423 16.5143ZM3.50512 16.825L3.50512 16.075L3.498 16.0751L3.50512 16.825ZM4.25783 17.575C4.67204 17.575 5.00783 17.2393 5.00783 16.825C5.00783 16.4108 4.67204 16.075 4.25783 16.075V17.575ZM14.1804 10.809C13.7662 10.809 13.4304 11.1448 13.4304 11.559C13.4304 11.9733 13.7662 12.309 14.1804 12.309V10.809ZM20.4399 12.309C20.8541 12.309 21.1899 11.9733 21.1899 11.559C21.1899 11.1448 20.8541 10.809 20.4399 10.809V12.309ZM14.1804 16.076H8.5254V17.576H14.1804V16.076ZM14.9304 16.826V11.559H13.4304V16.826H14.9304ZM14.1804 17.576H14.43V16.076H14.1804V17.576ZM18.7038 17.576C19.5117 17.5725 20.281 17.2397 20.8437 16.6573L19.765 15.615C19.4792 15.9108 19.0947 16.0743 18.6972 16.0761L18.7038 17.576ZM20.8437 16.6573C21.4058 16.0756 21.7162 15.2926 21.7125 14.4816L20.2125 14.4885C20.2145 14.9137 20.0514 15.3186 19.765 15.615L20.8437 16.6573ZM21.7008 14.3529L21.1772 11.4269L19.7007 11.6912L20.2242 14.6172L21.7008 14.3529ZM14.1794 7.62705H17.7587V6.12705H14.1794V7.62705ZM17.7739 7.62689C18.1691 7.61888 18.5544 7.7771 18.8389 8.07158L19.9178 7.02951C19.3477 6.43922 18.5622 6.1106 17.7434 6.1272L17.7739 7.62689ZM18.8389 8.07158C19.124 8.36679 19.282 8.77315 19.27 9.19669L20.7694 9.2394C20.7928 8.41808 20.4872 7.61907 19.9178 7.02951L18.8389 8.07158ZM19.2814 9.34996L19.6996 11.691L21.1763 11.4271L20.758 9.08613L19.2814 9.34996ZM13.4284 6.87705V11.559H14.9284V6.87705H13.4284ZM14.9284 6.87705V6.07705H13.4284V6.87705H14.9284ZM14.9284 6.07167C14.9213 5.07677 14.1245 4.24331 13.1088 4.25006L13.1187 5.75003C13.2708 5.74902 13.427 5.87963 13.4285 6.08242L14.9284 6.07167ZM13.1137 4.25005H3.50512V5.75005H13.1137V4.25005ZM3.51225 4.25008C3.02654 4.24547 2.5628 4.43917 2.22207 4.78225L3.28638 5.83925C3.3461 5.77912 3.42257 5.7493 3.498 5.75001L3.51225 4.25008ZM2.22207 4.78225C1.88199 5.12468 1.69183 5.58769 1.68753 6.06834L3.18747 6.08175C3.18832 5.98687 3.22602 5.90003 3.28638 5.83925L2.22207 4.78225ZM1.6875 6.07505V15.75H3.1875V6.07505H1.6875ZM1.68753 15.7568C1.69183 16.2374 1.88199 16.7004 2.22207 17.0428L3.28638 15.9858C3.22602 15.9251 3.18832 15.8382 3.18747 15.7433L1.68753 15.7568ZM2.22207 17.0428C2.5628 17.3859 3.02654 17.5796 3.51225 17.575L3.498 16.0751C3.42257 16.0758 3.3461 16.046 3.28638 15.9858L2.22207 17.0428ZM3.50512 17.575H4.25783V16.075H3.50512V17.575ZM14.1804 12.309H20.4399V10.809H14.1804V12.309Z" fill="%23000000"></path></g></svg>');
      transform: translateY(-50%);
      object-fit: contain;
    }

    [data-fs-input-field] {
      padding-left: 50px;
    }

    [data-fs-shipping-simulation-title] {
      padding-bottom: 0;
      padding-left: 50px;
      margin-bottom: 0;
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      font-weight: 400;
      font-weight: normal;
      color: #222;
    }

    [data-fs-shipping-simulation] [data-fs-button-wrapper] {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: inherit;
      font-weight: 400;
      color: #fff;
      text-align: center;
      background: #ec0000;
      border-radius: 5px;
      transition: all .2s linear;

      // position: absolute;
      // margin: 10px 0;
    }

    [data-fs-shipping-simulation-link] {
      display: none;
    }

    [data-fs-shipping-simulation] {
      [data-fs-input-field] #fs-shipping-simulation-input-field {
        width: 100%;
        padding: 5px 0;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        border: transparent;
        border-bottom: 2px solid #ccc;
        outline: none;
      }

      [data-fs-input-field] label {
        display: none;
      }
    }

    [data-fs-breadcrumb] {
      [data-fs-breadcrumb-list-item] [data-fs-breadcrumb-link] {
        --fs-link-text-color: #ec0000;
        --fs-breadcrumb-list-item-last-text-color: gray;
      }
    }

    [data-fs-breadcrumb] [data-fs-breadcrumb-item] {
      overflow: visible;
      text-overflow: unset;
    }

    [data-fs-breadcrumb] [data-fs-breadcrumb-divider] {
      visibility: hidden;
    }

    [data-fs-breadcrumb] [data-fs-breadcrumb-link]:visited {
      --fs-breadcrumb-link-color-visited: #ec0000;
    }

    [data-fs-breadcrumb-item]::after {
      width: auto;
      padding-left: 10px;
      font-size: 1.5rem;
      color: #ccc;

      // content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m14.707 12.707-4 4a1 1 0 0 1-1.414-1.414L12.586 12 9.293 8.707a1 1 0 1 1 1.414-1.414l4 4a1 1 0 0 1 0 1.414z" style="fill:#1c1b1e"/></svg>');
      content: ">";
    }

    [data-fs-breadcrumb-item]:last-child::after {
      // content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m14.707 12.707-4 4a1 1 0 0 1-1.414-1.414L12.586 12 9.293 8.707a1 1 0 1 1 1.414-1.414l4 4a1 1 0 0 1 0 1.414z" style="fill:#1c1b1e"/></svg>');
      content: "";
    }

    [data-fs-product-description] [data-fs-button-wrapper] {
      padding: 24px 0;

      // position: relative;
      padding-bottom: 16px;
      margin-bottom: 32px;
      font-family: Poppins, sans-serif;
      font-size: 18px;
      font-weight: 400;
      cursor: pointer;
      border-bottom: solid 1px #ccc;
    }

    [data-fs-product-details] [data-fs-product-details-description-content] {
      font-family: inherit;
      font-size: 1rem;
      font-style: inherit;
      font-weight: normal;
      line-height: 150%;
      color: inherit;
      text-align: inherit;
      text-decoration: inherit;
    }

    [data-fs-product-description] [data-fs-button-wrapper] [data-fs-button-icon] {
      color: #ec0000;
    }

    // [data-fs-product-description] [data-fs-button-wrapper] [data-fs-button-icon]::before {
    //   content: '';
    //   background-image: url('data:image/svg+xml,<svg fill="%23000000" height="200px" width="200px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 511.735 511.735" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><g><g><path d="M508.788,371.087L263.455,125.753c-4.16-4.16-10.88-4.16-15.04,0L2.975,371.087c-4.053,4.267-3.947,10.987,0.213,15.04 c4.16,3.947,10.667,3.947,14.827,0l237.867-237.76l237.76,237.76c4.267,4.053,10.987,3.947,15.04-0.213 C512.734,381.753,512.734,375.247,508.788,371.087z"></path></g></g></g></svg>');
    //   background-repeat: no-repeat;
    //   background-size: contain;
    //   color: #000;
    //   width: 20px;
    //   height: 20px;
    //   display: inline-block;
    //   vertical-align: middle;
    //   object-fit: contain;
    //   background-color: red;
    // }

    // // Collapsed icon
    // [data-fs-product-description] [aria-expanded="true"] [data-fs-button-wrapper] [data-fs-button-icon]  ::before{
    //   transform: rotateY('180');
    // }

    // // Expanded icon
    // [data-fs-product-description] [data-fs-button-wrapper] [data-fs-button-icon] [aria-expanded="false"]::before{
    //   background-image: url('data:image/svg+xml,<svg fill="%23000000" height="200px" width="200px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 511.735 511.735" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><g><g><path d="M508.788,371.087L263.455,125.753c-4.16-4.16-10.88-4.16-15.04,0L2.975,371.087c-4.053,4.267-3.947,10.987,0.213,15.04 c4.16,3.947,10.667,3.947,14.827,0l237.867-237.76l237.76,237.76c4.267,4.053,10.987,3.947,15.04-0.213 C512.734,381.753,512.734,375.247,508.788,371.087z"></path></g></g></g></svg>');

    // }

    [data-fs-image-gallery] [data-fs-image-gallery-selector] {
      position: absolute;
      right: 33%;
      bottom: 0;
      height: 7px;
    }

    [data-fs-image-gallery] [data-fs-image-gallery-selector-thumbnail] {
      width: 19px;
    }

    [data-fs-image-gallery] [data-fs-image-gallery-selector-thumbnail] [data-fs-button-wrapper] {
      visibility: hidden;
    }

    [data-fs-image-gallery] [data-fs-image-gallery-selector-thumbnail] [data-fs-button-wrapper]::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      width: 19px;
      visibility: visible;
      content: "";
      background-color: gray;
    }

    [data-fs-image-gallery] [data-fs-image-gallery-selector-thumbnail][data-fs-image-gallery-selector-thumbnail="selected"] [data-fs-button-wrapper]::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      width: 19px;
      visibility: visible;
      content: "";
      background-color: red;
    }

    [data-fs-image-gallery-selector-elements] {
      z-index: 0;
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
      overflow-y: hidden;
    }

    [data-fs-product-details] {
      [data-fs-product-price] {
        justify-content: start;
        text-align: left;
      }

      [data-fs-price] {
        padding-top: 7px;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        color: #000;
      }

      [data-fs-product-price] [data-fs-price-variant="listing"] {
        margin-right: 0.25rem;
        --fs-price-listing-text-size: 1rem;

        font-size: 14px;
        color: #767676;
      }
    }

    .c-seller__info-title {
      font-size: 1rem;
    }

    .c-seller__info-seller {
      font-size: 1rem;
      font-weight: 600;
    }

    // .c-category__card-top [data-fs-carousel] [data-fs-carousel-item]:not(:last-of-type){
    //   --fs-carousel-item-margin-right: 0px
    // }

    // .c-points__card [data-fs-carousel] [data-fs-carousel-item]:not(:last-of-type){
    //   --fs-carousel-item-margin-right: 0px
    // }

    // .c-carousel__experiencias [data-fs-carousel] [data-fs-carousel-item]:not(:last-of-type){
    //   --fs-carousel-item-margin-right: 0px
    // }

    // [data-fs-carousel] [data-fs-carousel-item]:not(:last-of-type){
    //   --fs-carousel-item-margin-right:200px
    // }

    // Cart badge

    [data-fs-badge][data-fs-badge-counter="true"] [data-fs-badge-wrapper] {
      --fs-badge-counter-bkg-color: #ec0000;
    }

    // Sku Selector

    [data-fs-sku-selector][data-fs-sku-selector-variant="label"] [data-fs-sku-selector-option][data-fs-sku-selector-checked="true"] > span {
      background-color: #ffe9e9;
      box-shadow: none;
    }

    [data-fs-sku-selector] [data-fs-sku-selector-option] span {
      padding: 8px 32px;
      color: #ec0000;
      border: 1px solid #ec0000;
      border-radius: 5px;
    }

    [data-fs-sku-selector] [data-fs-sku-selector-option] span:hover {
      background-color: #ffe9e9;
    }

    [data-fs-sku-selector] [data-fs-sku-selector-option]:hover {
      background-color: #ffe9e9;
    }

    [data-fs-sku-selector] [data-fs-sku-selector-option] {
      margin-right: 30px;
    }

    // Qty

    [data-fs-quantity-selector] [data-quantity-selector-button]:not(:hover):not(:focus-visible) [data-fs-button-wrapper] {
      background-color: transparent;
    }

    [data-fs-button][data-fs-button-variant="tertiary"]:hover [data-fs-button-wrapper] {
      color: white;
      background-color: #ffe9e9;
    }

    [data-quantity-selector-input]:hover {
      box-shadow: rgb(255 233 233);
    }

    [data-fs-quantity-selector] [data-fs-button] [data-fs-button-wrapper] [data-fs-button-icon] {
      color: #ec0000;
    }

    // product shelf pdp
    #aproveite-e-veja-tamb-m {
      --fs-carousel-item-margin-right: 75px;
    }
  }
}

// ----------------------------------------------------------
//Minicart

.section_section__yzDFp [data-fs-cart-sidebar][data-fs-slide-over] {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 100%;
  margin: 0;
  background-color: #fff;
}

.section_section__yzDFp [data-fs-badge][data-fs-badge-variant="info"] {
  display: none;
}

.section_section__yzDFp [data-fs-cart-sidebar] [data-fs-cart-sidebar-title] {
  font-size: 14px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

.theme [data-fs-cart-sidebar] [data-fs-alert] {
  display: none;
}

.section_section__yzDFp [data-fs-slide-over] [data-fs-slide-over-header] {
  flex-direction: row-reverse;
  gap: 28px;
  justify-content: flex-end;
  padding: 20px;
  border-bottom: 1px solid #f0f0f0;
}

.section_section__yzDFp [data-fs-cart-item] [data-fs-cart-item-title] {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #000;
}

.section_section__yzDFp [data-fs-cart-item] [data-fs-cart-item-skus] {
  color: #767676;
}

.section_section__yzDFp [data-fs-slide-over] [data-fs-slide-over-header] [data-fs-slide-over-header-icon] {
  width: auto;
  min-height: 0;

  [data-fs-button-wrapper] {
    width: auto;
    height: fit-content;

    &::before {
      display: block;
      width: 8.75px;
      height: 14px;
      content: "";
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAyklEQVR4nNXVIU4DQBAF0JcGUVksAoegAgmGI1TVkyDqwFWXO4DjDGDoDeAKvQACRWhS0dRAaNNkNmlQiJkE/gHeT3Z3dvjj6eGyCu/iGWuMs/EOHgN/w2F2wV3gHzjOxm8CX+E8Gx8F/oVhNj7AZxRcZeNnWAY+ycb7mAd+n40f4DXwJ+xl4vuYBf4Sg+VfFfw8omn2EbUc4b3qkltOd57pdpJLMtgZtOuqkgt8V30VLZPKz67lNkoWOFGQDh4qF47qldlSuvR/lQ2TBTV9NsnUKAAAAABJRU5ErkJggg==");
      background-repeat: no-repeat;
      background-size: cover;
    }

    svg {
      display: none;
    }
  }
}

.section_section__yzDFp [data-fs-cart-sidebar] [data-fs-cart-sidebar-list] {
  [data-fs-cart-item] {
    border: none;
    border-bottom: 1px solid #f0f0f0;
  }
}

.section_section__yzDFp [data-fs-cart-item] [data-fs-cart-item-actions] {
  border-top: none;

  [data-fs-quantity-selector="true"]:hover {
    border: 1px solid #f0f0f0;
  }

  [data-fs-quantity-selector="true"] {
    [data-fs-input] {
      padding: 0;
    }
  }

  [data-fs-product-price] {
    [data-fs-price] {
      font-size: 14px;
      color: #000;
    }
  }
}

.section_section__yzDFp [data-fs-button][data-fs-button-variant="primary"] [data-fs-button-wrapper] {
  display: block;
  padding: 17px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #fff !important;
  text-align: center;
  background-color: #ec0000;
  border-radius: 4px;

  [data-fs-button-icon] {
    display: none;
  }
}

.section_section__yzDFp [data-fs-cart-sidebar] [data-fs-cart-sidebar-footer] [data-fs-order-summary] {
  [data-fs-order-summary-subtotal] {
    display: none;
  }

  [data-fs-order-summary-total] {
    [data-fs-order-summary-total-label] {
      margin-bottom: 0;
      font-size: 14px;
      font-weight: 400;
      color: #444;
    }
  }

  [data-fs-order-summary-total-value] {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 700;
    color: #444;
  }
}

// Buy Box
.-cardpdpvaluebox {
  width: 360px;
  background: #fff;
  border: 1px solid #ededed;

  .-boxheader {
    padding: 16px 16px 18px;
    border-bottom: 1px solid #ededed;

    .-headertitle {
      margin-bottom: 6px;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      color: #000;
    }

    .util-flex-nospace.-discountcontainer {
      display: flex;
      align-items: flex-start !important;

      .-containerprice {
        .-oldprice {
          font-family: "Open Sans", sans-serif;
          font-size: 14px;
          font-weight: 400;
          color: #767676;
          text-decoration: line-through;
        }

        .-valueboxitem.-newvalue {
          padding-top: 7px;
          font-family: "Open Sans", sans-serif;
          font-size: 16px;
          color: #000;
        }
      }
    }
  }

  .-boxcontent {
    padding: 17px 16px 25px;
    background: #fbfbfb;

    .-contenttitle {
      margin-bottom: 6px;
      margin-bottom: 14px;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      color: #000;

      strong {
        font-weight: 700;

        span {
          color: #ec0000;
        }
      }

      .-info.js-openmodal-info {
        position: relative;
        margin-left: 10px;
        font-family: "Open Sans", sans-serif;
        font-size: 11px;
        line-height: 10px;
        line-height: 18px;
        color: #767676;
        cursor: pointer;

        &::after {
          position: absolute;
          left: 50%;
          display: inline-block;
          width: 18px;
          height: 18px;
          content: "";
          border: 1px solid #767676;
          border-radius: 100%;
          transform: translateX(-50%);
          transform: translateX(-50%);
        }
      }
    }

    .util-flex-nospace.-inputbox {
      .-valueboxitem {
        padding-top: 7px;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        color: #000;

        .-target {
          position: relative;
          top: -1px;
          left: 5px;
          padding: 2px 4px;
          font-family: "Open Sans", sans-serif;
          font-size: 10px;
          color: #fff;
          text-transform: uppercase;
          letter-spacing: .15px;
          background: #739e41;
          border-radius: 2px;
        }

        span {
          font-weight: 400;
        }
      }
    }
  }
}

.util-flex-nospace {
  display: flex;
  align-items: flex-start;
}

.-inputbox {
  margin-top: 6px;
}

.custom-radio:checked, .custom-radio:not(:checked) {
  position: absolute;
  left: 0 !important;
  display: none;
}

.custom-radio:checked + label, .custom-radio:not(:checked) + label {
  position: relative;
  display: inline-block;
  padding-top: 3px;
  padding-left: 36px;
  margin-bottom: 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 20px;
  color: #666;
  cursor: pointer;
}

.custom-radio:checked + label::before {
  border: 2px solid #c00;
}

.custom-radio:checked + label::before, .custom-radio:not(:checked) + label::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  content: "";
  background: #fff;
  border: 1px solid #c00;
  border-radius: 100%;
}

.custom-radio:checked + label::after, .custom-radio:not(:checked) + label::after {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 12px;
  height: 12px;
  content: "";
  background: #ec0000;
  border-radius: 100%;
  transition: all .2s ease;
  transition: all .2s ease;
}

.custom-radio:checked + label::after {
  opacity: 1;
  transform: scale(1);
  transform: scale(1);
}

.custom-radio:not(:checked) + label::after {
  opacity: 0;
  transform: scale(0);
  transform: scale(0);
}

//************************//

.text__title-mini.sellerBuyBox_title__aCJHu {
  color: #222;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  margin: 45px 0 22px 0;
}

.sellerBuyBox_offerList__S2Ewe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.sellerBuyBox_seller__Qn7QY {
  border-bottom: solid 1px #f0f0f0;
  cursor: pointer;
  display: none;
  justify-content: space-between;
  margin-bottom: 20px;
  max-width: 360px;
  padding-bottom: 20px;
  width: 100%;

  div {
    flex-grow: 1;
    .sellerBuyBox_seller__Qn7QY {
      font-size: 20px;
      color: #333;
      border: none;
    }
    .sellerBuyBox_forPrice__IQfV7 {
      display: flex;
      align-items: center;
      flex-direction: row;
      .sellerBuyBox_listPoints__LDDiM{
        color: #999;
        font-size: 12px;
      }
      .sellerBuyBox_finalPoints__r_NwB {
        color: #222;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
      }
    }
    div {
      color: #999;
      font-size: 12px;
    }
  }
}

.sellerBuyBox_seller__Qn7QY:nth-child(-n+3) {
  display: flex;
}

.sellerBuyBox_seller__Qn7QY {
  position: relative;
}

.sellerBuyBox_seller__Qn7QY input[type="radio"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.sellerBuyBox_seller__Qn7QY label {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1px solid #c00;
  border-radius: 100%;
  cursor: pointer;
  position: relative;
  background: #fff;
}

/* Bolinha interna quando está marcado */
.sellerBuyBox_seller__Qn7QY input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 12px;
  height: 12px;
  background-color: #cc0000;
  border-radius: 50%;
}